{{/* layouts/shortcodes/publist.html
   Usage: {{< publist section="published" title="Published Work" >}}
*/}}
{{ $section := .Get "section" | default "published" }}
{{ $title := .Get "title" | default (humanize $section) }}

<h2>{{ $title }}</h2>

{{ $all := where .Site.RegularPages "Section" "publication" }}
{{ $pages := where $all "RelPermalink" "match" (printf "^/publication/%s/" $section) }}

{{ if gt (len $pages) 0 }}
<ul>
  {{ range $pages.ByDate.Reverse }}
  <li>{{ .Title }}</li>
  {{- end }}
</ul>
{{ else }}
<p><em>No items found.</em></p>
{{ end }}